
.col-sm-12oooooooooooooooo img{ /*ojo esto es truco especial, acá la img está sin class ni id
        se puso despues de la class tarjetas-de-mokepon*/

     
        
   width: 750px;
   padding: 20px;
   flex-direction: center;
   display: block;
   align-items: center;
   margin:auto;
   
}

.useful_text{

        
text-align: center;

}





